        body {
            padding-top: 50px;
            background: #111;
        }
        
        svg.circle {
            will-change: stroke-dasharray;
            stroke: rgb(45, 70, 153);
            stroke-width: 8;
            display: block;
            margin: 0 auto;
            width: 300px;
            height: 300px;
            fill: transparent;
            stroke-dasharray: 80;
            transition: all 1000ms ease-in-out;
        }
        
        #circle:hover svg.circle {
            animation: 2s rotate forwards;
        }
        
        #circle {
            width: 300px;
            margin: 0 auto;
            cursor: pointer;
        }
        
        @keyframes rotate {
            from {
                stroke-dasharray: 80;
            }
            to {
                stroke-dasharray: 0;
                stroke-width: 3;
                stroke: rgb(167, 51, 167);
                fill: #222;
            }
        }
        
        .creator {
            position: absolute;
            left: 48%;
            transform: translate(-50%, -50%);
            margin: 50px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: white;
            text-align: center;
        }
        
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }